
input {
    width: 100%; /* Full width input */
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid var(--dark);
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  input:focus {
    border-color: var(--secondary);
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  button {
    width: 100%;
    padding: 0.75rem;
    background-color: var(--primary);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: var(--secondary);
  }
  